<!DOCTYPE html>
<html>

<head
	th:replace="/fragments/head :: head(title='Cadastre-se - Library System', stylePath='/style/style_register.css', scriptPath='/script/script_register.js')">
</head>


<body class="bg-light">

	<div th:insert="/fragments/menu :: menu"></div>

	<div class="container-xl mt-4">
		<div class="alert bg-success d-flex align-items-center shadow" role="alert">
			<i class="bi bi-check-square me-2 fs-2" aria-label="Success:"></i>
			<div class="text">
				Bem vindo! Por enquanto é só isso haha! Coming soon...
			</div>
		</div>
	</div>

</body>

</html>