
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');


* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    margin: 0;
  }
  

#leftSideRegister{
  background-image: url('/assets/background-images/side-duo.jpg');
  background-size: 100%;
  
}


#leftSideRegister a {
  color: white;
}